/* CSS HEX 
--eggshell: #f0ead2ff;
--pale-spring-bud: #dde5b6ff;
--olivine: #adc178ff;
--cafe-au-lait: #a98467ff;
--umber: #6c584cff;*/



header {
    font-size: 15px;
    margin-bottom: 20px;
}


/*.logoBorder {
    width: 7.8em;
    height: 6.3em;
    border-radius: 25%;
}*/


.logoheader {
    width: 4.5em;
    height: 3.1em;
    overflow: hidden;
}

.navbar {
    /*background-color:  #a98467ff;*/
    background-image: linear-gradient(to right, #a98467ff, #f0ead2ff, #6c584cff);
}

header nav div a img:hover {
    transform: scale(1.1) translate(3px, 3px);
    transition: 1s;
}

.navbar-nav li a {
    color: #dde5b6ff;
}


.navbar-nav .nav-link.active {
    color: #6c584cff;
}


main {
    min-height: 80vh;
}


.mainind h1 {
    display: inline-block;
    align-items: center;
    margin: 0 0.5rem;
    animation-name: tituloMovible;
    animation: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 20s;
}




/*.carousiz {
    min-height: 10vh;
}*/
 
 .imgcar {
    height: 60em;
 }


 .gridFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }



.imgGrid {
    width: 25em;
    height: 20em;
    margin: 0.5em;
}




footer {
    background-image: linear-gradient(95deg, #a98467ff , #f0ead2ff, #6c584cff);

}












/*  KEYFRAMES   */

/*@keyframes tituloMovible {}*/