/* CSS HEX 
--eggshell: #f0ead2ff;
--pale-spring-bud: #dde5b6ff;
--olivine: #adc178ff;
--cafe-au-lait: #a98467ff;
--umber: #6c584cff;*/



header {
    font-size: 15px;
    
}


/*.logoBorder {
    width: 7.8em;
    height: 6.3em;
    border-radius: 25%;
}*/


.logoheader {
    width: 4.5em;
    height: 3.1em;
    overflow: hidden;
}

.navbar {
    /*background-color:  #a98467ff;*/
    background-image: linear-gradient(to right, #a98467ff, #f0ead2ff, #6c584cff);
}

header nav div a img:hover {
    transform: scale(1.1) translate(3px, 3px);
    transition: 1s;
}

.navbar-nav li a {
    color: #dde5b6ff;
    font-size: 2.5em;
}


.navbar-nav .nav-link.active {
    color: #6c584cff;
}


main {
    min-height: 80vh;
    font-size: 13px;
    background-color:#f0ead2ff ;
}


h1 {
    color: #6c584cff;
    justify-content: center;
}

.carwo {
   margin-left: 2.5em;
    width: 90vw;
}

.mainind h1 {
    display: inline-block;
    margin-left: 35vw;
    margin-top: 2.3em;
    /*margin: 0 0.5rem;*/
    animation-name: tituloMovible;
    animation: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 20s;
}




/*.carousiz {
    min-height: 10vh;
}*/
 
 .imgcar {
    width: 80vw;
    height: 60em;
 }


 .gridFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }



.imgGrid {
    width: 25em;
    height: 20em;
    margin: 0.5em;
}



.uberuns {
    font-size: 1.1em ;
    display: block;
    justify-content: center;
}




footer {
    background-image: linear-gradient(95deg, #a98467ff , #f0ead2ff, #6c584cff);
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-size: 9px;
}

.igface {
    position: relative;
    height: 3em;
    width: 5em;
}










/*  KEYFRAMES   */

/*@keyframes tituloMovible {}*/



@media (max-width: 850px) {
    header {

        justify-items: center;
        font-size: 9px;
    }
    main {
        font-size: 9px;
    }

    footer {
        font-size: 8px;
    }
}


@media (max-width:680px) {

    header {

        justify-items: center;
        font-size: 10px;
    }

    main {
        font-size: 6.9px;
    }


    footer {
        font-size: 4.5px;
    }
}